body {
    font-family: sans-serif;
}

div#menu {
    padding: 10px;
    left: 0px;
    top: 0px;
    position: fixed;
    width: 400px;
    background: #ddd;
    height: 100%;
}

div#content {
    margin-left: 420px;
    height: 100%;
}

svg {
    border-style: dotted;
    border-width: 1px;
}
